In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv("/content/Submission details.csv - Sheet1 (2).csv")

In [ ]:
df.columns=df.columns.str.lower()

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290 entries, 0 to 289
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             290 non-null    object
 1   contact no       290 non-null    object
 2   email id         290 non-null    object
 3   title            290 non-null    object
 4   visa             289 non-null    object
 5   location         290 non-null    object
 6   linkedin         256 non-null    object
 7   submission date  290 non-null    object
dtypes: object(8)
memory usage: 18.2+ KB

In [ ]:

def lower_case(ser):
    ser= ser.str.lower().str.strip()
    return ser

In [ ]:
df.rename(columns={'contact no':'contact_no'},inplace=True)
df.rename(columns={'email id':'email_id'},inplace=True)

In [ ]:
df.name=lower_case(df.name)

In [ ]:
df=df.assign(
    contact_no = df['contact_no'].
    str.replace(r'[^0-9]', '', regex=True)
    .str.strip()
    )

In [ ]:
df.contact_no=pd.to_numeric(df.contact_no, errors='coerce').fillna(0).astype('int64')

In [ ]:
df.email_id=lower_case(df.email_id)

In [ ]:
df.title=lower_case(df.title)

In [ ]:
df.visa=lower_case(df.visa)

In [ ]:
index=df.visa[df.visa.str.contains('h1', na=False)].str.replace('-', '', regex=True).index

In [ ]:
df.visa.iloc[index]='h1b'

<ipython-input-153-bbc409afd257>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.visa.iloc[index]='h1b'

In [ ]:
index2=df.visa[df.visa.str.contains('us', na=False)].str.replace('-', '', regex=True).index
df.visa.iloc[index2]='usc'

<ipython-input-154-2b16a4f21e33>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.visa.iloc[index2]='usc'

In [ ]:
index3=df.visa[df.visa.str.contains('u.s', na=False)].str.replace('-', '', regex=True).index
df.visa.iloc[index3]='usc'

<ipython-input-155-4075013503ce>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.visa.iloc[index3]='usc'

In [ ]:
index4=df.visa[df.visa.str.contains('green', na=False)].str.replace('-', '', regex=True).index
df.visa.iloc[index4]='gc'

<ipython-input-156-e5206ab303cd>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.visa.iloc[index4]='gc'

In [ ]:
index5=df.visa[df.visa.str.contains('opt', na=False)].str.replace('-', '', regex=True).index
df.visa.iloc[index5]='opt'

<ipython-input-157-6a5fcc31f73b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.visa.iloc[index5]='opt'

In [ ]:
index6=df.visa[df.visa.str.contains('h4', na=False)].str.replace('-', '', regex=True).index
df.visa.iloc[index6]='h4-ead'

<ipython-input-158-901041969378>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.visa.iloc[index6]='h4-ead'

In [ ]:
index7=df.visa[df.visa.str.contains('citizen', na=False)].str.replace('-', '', regex=True).index
df.visa.iloc[index7]='tn'

<ipython-input-159-71c88d9fd357>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.visa.iloc[index7]='tn'

In [ ]:
df.visa.value_counts()

visa
usc       100
h1b        91
gc         52
opt        12
tn         12
h4-ead     10
gc-ead      7
l2          3
cpt         1
chile       1
Name: count, dtype: int64

In [ ]:
df['location']=df['location'].transform(lower_case)
df=df.assign(state=
    df['location']
    .str.replace(r'[^\w\s]', ' ', regex=True)  # Replace symbols with spaces
    .str.strip()                              # Remove leading and trailing spaces
    .apply(lambda x: x.split())               # Split the string by spaces
    .apply(lambda x: x[-1] if len(x) > 0 else '')  # Get the last element from the list
                              # Count the occurrences of the last elements
)

In [ ]:
# Move 'new_column' to position 1 (second column)
df.insert(6, 'state', df.pop('state'))

In [ ]:
df['location']=(
    df['location']
    .str.replace(r'[^\w\s]', ' ', regex=True)  # Replace symbols with spaces
    .str.strip()                              # Remove leading and trailing spaces
    .apply(lambda x: x.split())               # Split the string by spaces
    .apply(lambda x: x[:-1])
    .str.join(",")

                           # Count the occurrences of the last elements
)

In [ ]:
df.location=df.location.str.split(",").apply(lambda x: tuple(x[:-1]) if x[-1] =="new" else tuple(x)).str.join(",").str.replace(","," ").str.strip()

In [ ]:
df['state'] = df['state'].str.replace("az","arizona") # Remove inplace=True and assign the result back to df['state']

In [ ]:
df['state'] = df['state'].str.replace("nj","new jesery") # Remove inplace=True and assign the result back to df['state']

In [ ]:
df['state'] = df['state'].str.replace("tx","texas") # Remove inplace=True and assign the result back to df['state']

In [ ]:
df.state.where(df.state!="new jesery","new jersey",inplace=True)

In [ ]:
df.state = df.state.where(df.state != "ca", "california")

In [ ]:
df.state = df.state.where(df.state != "ga", "georgia")

In [ ]:
df.state = df.state.where(df.state != "il", "illinois")

In [ ]:
df.state = df.state.where(df.state != "pa", "pennsylvania")

In [ ]:
df.state = df.state.where(df.state != "mi", "michigan")

In [ ]:
df.state = df.state.where(df.state != "nc", "north carolina")

In [ ]:
df.state = df.state.where(df.state != "carolina", "north carolina")

In [ ]:
df.state = df.state.where(df.state != "va", "virginia")

In [ ]:
df.state = df.state.where(df.state != "ny", "new york")

In [ ]:
df.state = df.state.where(df.state != "wa", "washington")

In [ ]:
df.state = df.state.where(df.state != "engineer", "washington")

In [ ]:
df.state = df.state.where(df.state != "ma", "massachusetts")

In [ ]:
df.state = df.state.where(df.state != "md", "maryland")

In [ ]:
df.state = df.state.where(df.state != "dc", "district of columbia")

In [ ]:
df.state = df.state.where(df.state != "mn", "minnesota")

In [ ]:
df.state = df.state.where(df.state != "fl", "florida")

In [ ]:
df.state = df.state.where(df.state != "ct", "connecticut")

In [ ]:
df.state = df.state.where(df.state != "ab", "alberta")

In [ ]:
df.state = df.state.where(df.state != "on", "ontario")

In [ ]:
df.state = df.state.where(df.state != "de", "delaware")

In [ ]:
df.state = df.state.where(df.state != "in", "indiana")

In [ ]:
df.state = df.state.where(df.state != "ks", "kansas")

In [ ]:
df.state = df.state.where(df.state != "city", "kansas")

In [ ]:
df.state = df.state.where(df.state != "mo", "missouri")

In [ ]:
df.state = df.state.where(df.state != "co", "colorado")

In [ ]:
df.state = df.state.where(df.state != "ky", "kentucky")

In [ ]:
df.state = df.state.where(df.state != "jersey", "new jersey")

In [ ]:
df.state = df.state.where(df.state != "island", "rhode island")

In [ ]:
#pd.set_option('display.max_rows', None) # use set_option to set max_rows to display all rows

In [ ]:
df.state.value_counts()

state
arizona                 61
texas                   51
new jersey              45
california              27
georgia                 19
illinois                10
michigan                 9
pennsylvania             8
virginia                 8
north carolina           6
washington               6
maryland                 6
new york                 4
massachusetts            4
district of columbia     3
florida                  3
connecticut              3
kansas                   2
mississippi              2
minnesota                2
ohio                     2
alberta                  2
delaware                 1
ontario                  1
rhode island             1
colorado                 1
indiana                  1
missouri                 1
kentucky                 1
Name: count, dtype: int64

In [ ]:
df.location = df.location.where(df.location != "quality assurance", "seattle")

In [ ]:
df.location = df.location.where(df.location != "edition", "edison")

In [ ]:
df.groupby(["state","location"]).location.value_counts()

state       location
alberta     calgary             2
arizona     cave creek          1
            chandler            6
            desert ridge        1
            flagstaff           1
                               ..
virginia    stafford            2
washington  bellevue            1
            northeast duvall    1
            redmond             1
            seattle             3
Name: count, Length: 152, dtype: int64

In [ ]:
df.rename(columns={'submission date':'dos'},inplace=True)

In [ ]:
df.dos=pd.to_datetime(df.dos,format='%d-%m-%Y')

In [ ]:
df.dos

0     2023-01-09
1     2023-01-13
2     2023-01-13
3     2023-01-13
4     2023-01-16
         ...
285   2024-09-12
286   2024-09-12
287   2024-09-16
288   2024-09-17
289   2024-09-18
Name: dos, Length: 290, dtype: datetime64[ns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290 entries, 0 to 289
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        290 non-null    object
 1   contact_no  290 non-null    int64
 2   email_id    290 non-null    object
 3   title       290 non-null    object
 4   visa        289 non-null    object
 5   location    290 non-null    object
 6   state       290 non-null    object
 7   linkedin    256 non-null    object
 8   dos         290 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(7)
memory usage: 20.5+ KB

In [ ]:
df

,name,contact_no,email_id,title,visa,location,state,linkedin,dos
0,santhosh kumar thiagarajan,7174342466,santoszh@gmail.com,technical project manager,h1b,paoli,pennsylvania,https://www.linkedin.com/in/santoszh,09-01-2023
1,blaise sama,4696615921,blaise.jayin@gmail.com,platform engineer,usc,dallas,texas,https://www.linkedin.com/in/blaise-sama/,13-01-2023
2,sanjay kumar kalal,8322785209,kalalsanjay001@gmail.com,sas programmer,h1b,frisco,texas,https://www.linkedin.com/in/sanjay-kalal-50678...,13-01-2023
3,sanjay kumar hadavala,2672344630,shadba@gmail.com,portfolio manager,usc,ashburn,virginia,https://www.linkedin.com/in/sanjay-hadavala-44...,13-01-2023
4,mitali shashikant shinde,4087979481,mitali.shinde03@gmail.com,portfolio manager,h1b,ashburn,virginia,https://www.linkedin.com/in/mitali-s/details/e...,16-01-2023
...,...,...,...,...,...,...,...,...,...
285,rajyalakshmi nukala,2165072544,nukalarajyam@gmail.com,servicenow developer,h1b,houston,texas,NaN,12-09-2024
286,jagjeet singh chandhok,8475058593,jsc.embeddeddev@gmail.com,embedded engineer,h1b,dallas,texas,https://www.linkedin.com/in/jagjeet-singh-chan...,12-09-2024
287,tanuj goyal,2014920550,tanujgoyal22@gmail.com,java engineer,h4-ead,phoenix,arizona,https://www.linkedin.com/in/tanuj-goyal-03804716/,16-09-2024
288,sumeet narang,4146889587,sumeet.narang1969@gmail.com,salesforce marketing cloud consultant,h1b,warrenville,illinois,https://www.linkedin.com/in/sumeet-narang-265b...,17-09-2024
289,sheldon reid,8178086084,sheldonanthony28@gmail.com,salesforce marketing cloud consultant,NaN,charlotte,north carolina,https://www.linkedin.com/in/sheldon-r-b51aba207/,18-09-2024

In [ ]:
df.to_csv('submission_details.csv', index=False)